* text=auto !eol
/Makefile -text
chopzero_src/Makefile -text
chopzero_src/chopzero.c -text
demos/demo.jan_21_2011/Makefile -text
demos/demo.jan_21_2011/demo_analyze.sh -text
demos/demo.jan_21_2011/dumbledore.c -text
demos/demo.jan_21_2011/dumbledore.exploits/Makefile -text
demos/demo.jan_21_2011/dumbledore.exploits/attack-gradeA.no_strata.c -text
demos/demo.jan_21_2011/dumbledore.exploits/attack-gradeB.no_strata.c -text
demos/demo.jan_21_2011/dumbledore.exploits/attack-strata_parm1.c -text
demos/demo.jan_21_2011/dumbledore.exploits/attack-strata_tracing.c -text
demos/demo.jan_21_2011/dumbledore.exploits/badA.txt -text
demos/demo.jan_21_2011/dumbledore.exploits/badB.txt -text
demos/demo.jan_21_2011/dumbledore.good_inputs/good.txt -text
demos/demo.jan_21_2011/dumbledore_cmd.c -text
demos/demo.jan_21_2011/gdb.demo.script -text
demos/demo.jan_21_2011/ps_demo.sh -text
demos/demo.jan_21_2011/run_gdb.sh -text
demos/demo.jan_21_2011/test_infinite.sh -text
examples/Makefile -text
examples/block_copy.c -text
examples/cmd_args_005.c -text
examples/concolic_test_handshake.c -text
examples/dumbledore_cmd.c -text
examples/dumbledore_file.c -text
examples/dumbledore_file_with_fopen_check.c -text
examples/dumbledore_stdin.c -text
examples/fptest.c -text
examples/globalfield.c -text
examples/hanoi.c -text
examples/hanoi_heap_overrun.c -text
examples/hanoi_nostrata.c -text
examples/hanoi_overrun.c -text
examples/hanoi_overrun_tainted.c -text
examples/hanoi_overrun_taintedenv.c -text
examples/hanoi_stack_overrun.c -text
examples/hello.c -text
examples/ld_script -text
examples/malloc.c -text
examples/memcpy.c -text
examples/myhanoi.c -text
examples/print_ptr.c -text
examples/recover_example.c -text
tools/db/pdb.create.tbl -text
tools/db/pdb.drop.tbl -text
tools/db/pdb_register -text
tools/db/pdb_setup -text
tools/db/pdb_teardown -text
tools/do_concolic.sh -text
tools/generate_exe.sh -text
tools/generate_io_baseline.sh -text
tools/getlibs.sh -text
tools/getsyms.sh -text
tools/p1xform.doxform.sh -text
tools/p1xform.genspri.sh -text
tools/p1xform.pbed.sh -text
tools/p1xform.sh -text
tools/peasoup_link -text
tools/peasoup_link++ -text
tools/ps_analyze.sh -text
tools/ps_comp++.sh -text
tools/ps_comp.sh -text
tools/ps_link.sh -text
tools/ps_run.sh -text
tools/ps_validate.sh -text
tools/ps_validate_ss.sh -text
tools/set_dyna_link.sh -text
tools/test_controller.sh -text
tools/validate.sh -text
