* text=auto !eol
ELFIO-1.0.3/AUTHORS -text
ELFIO-1.0.3/COPYING -text
ELFIO-1.0.3/ChangeLog -text
ELFIO-1.0.3/ELFIO/ELFI.h -text
ELFIO-1.0.3/ELFIO/ELFIDynamic.cpp -text
ELFIO-1.0.3/ELFIO/ELFIImpl.cpp -text
ELFIO-1.0.3/ELFIO/ELFIImpl.h -text
ELFIO-1.0.3/ELFIO/ELFINote.cpp -text
ELFIO-1.0.3/ELFIO/ELFIO.cpp -text
ELFIO-1.0.3/ELFIO/ELFIO.dsp -text
ELFIO-1.0.3/ELFIO/ELFIO.dsw -text
ELFIO-1.0.3/ELFIO/ELFIO.h -text
ELFIO-1.0.3/ELFIO/ELFIO.mcp -text
ELFIO-1.0.3/ELFIO/ELFIOUtils.cpp -text
ELFIO-1.0.3/ELFIO/ELFIOUtils.h -text
ELFIO-1.0.3/ELFIO/ELFIRelocation.cpp -text
ELFIO-1.0.3/ELFIO/ELFISection.cpp -text
ELFIO-1.0.3/ELFIO/ELFISegment.cpp -text
ELFIO-1.0.3/ELFIO/ELFIStrings.cpp -text
ELFIO-1.0.3/ELFIO/ELFISymbols.cpp -text
ELFIO-1.0.3/ELFIO/ELFO.h -text
ELFIO-1.0.3/ELFIO/ELFODynamic.cpp -text
ELFIO-1.0.3/ELFIO/ELFOImpl.cpp -text
ELFIO-1.0.3/ELFIO/ELFOImpl.h -text
ELFIO-1.0.3/ELFIO/ELFONote.cpp -text
ELFIO-1.0.3/ELFIO/ELFORelocation.cpp -text
ELFIO-1.0.3/ELFIO/ELFOSection.cpp -text
ELFIO-1.0.3/ELFIO/ELFOSegment.cpp -text
ELFIO-1.0.3/ELFIO/ELFOString.cpp -text
ELFIO-1.0.3/ELFIO/ELFOSymbols.cpp -text
ELFIO-1.0.3/ELFIO/ELFTypes.h -text
ELFIO-1.0.3/ELFIO/Makefile.am -text
ELFIO-1.0.3/ELFIO/Makefile.in -text
ELFIO-1.0.3/Examples/ELFDump/ELFDump.cpp -text
ELFIO-1.0.3/Examples/ELFDump/ELFDump.dsp -text
ELFIO-1.0.3/Examples/ELFDump/ELFDump.dsw -text
ELFIO-1.0.3/Examples/ELFDump/ELFDump.mcp -text
ELFIO-1.0.3/Examples/ELFDump/Makefile.am -text
ELFIO-1.0.3/Examples/ELFDump/Makefile.in -text
ELFIO-1.0.3/Examples/ELFDump/out -text
ELFIO-1.0.3/Examples/Makefile.am -text
ELFIO-1.0.3/Examples/Makefile.in -text
ELFIO-1.0.3/Examples/RelocationTable/Makefile.am -text
ELFIO-1.0.3/Examples/RelocationTable/Makefile.in -text
ELFIO-1.0.3/Examples/RelocationTable/RelocationTable.cpp -text
ELFIO-1.0.3/Examples/RelocationTable/RelocationTable.mcp -text
ELFIO-1.0.3/Examples/RelocationTable/out -text
ELFIO-1.0.3/Examples/WriteObj/Makefile.am -text
ELFIO-1.0.3/Examples/WriteObj/Makefile.in -text
ELFIO-1.0.3/Examples/WriteObj/WriteObj.cpp -text
ELFIO-1.0.3/Examples/WriteObj/WriteObj.dsp -text
ELFIO-1.0.3/Examples/WriteObj/WriteObj.dsw -text
ELFIO-1.0.3/Examples/WriteObj/WriteObj.mcp -text
ELFIO-1.0.3/Examples/WriteObj2/Makefile.am -text
ELFIO-1.0.3/Examples/WriteObj2/Makefile.in -text
ELFIO-1.0.3/Examples/WriteObj2/WriteObj2.cpp -text
ELFIO-1.0.3/Examples/Writer/Makefile.am -text
ELFIO-1.0.3/Examples/Writer/Makefile.in -text
ELFIO-1.0.3/Examples/Writer/Write.cpp -text
ELFIO-1.0.3/Examples/Writer/Writer.dsp -text
ELFIO-1.0.3/Examples/Writer/Writer.dsw -text
ELFIO-1.0.3/Examples/Writer/Writer.mcp -text
ELFIO-1.0.3/Examples/Writer/test.elf -text
ELFIO-1.0.3/Examples/tutorial/Makefile.am -text
ELFIO-1.0.3/Examples/tutorial/Makefile.in -text
ELFIO-1.0.3/Examples/tutorial/tutorial.cpp -text
ELFIO-1.0.3/INSTALL -text
ELFIO-1.0.3/Makefile.am -text
ELFIO-1.0.3/Makefile.in -text
ELFIO-1.0.3/NEWS -text
ELFIO-1.0.3/README -text
ELFIO-1.0.3/aclocal.m4 -text
ELFIO-1.0.3/config.guess -text
ELFIO-1.0.3/config.sub -text
ELFIO-1.0.3/configure -text
ELFIO-1.0.3/configure.in -text
ELFIO-1.0.3/depcomp -text
ELFIO-1.0.3/doc/Makefile.am -text
ELFIO-1.0.3/doc/Makefile.in -text
ELFIO-1.0.3/doc/elf11g.zip -text
ELFIO-1.0.3/doc/tutorial.docbook -text
ELFIO-1.0.3/doc/tutorial.pdf -text svneol=unset#unset
ELFIO-1.0.3/install-sh -text
ELFIO-1.0.3/missing -text
ELFIO-1.0.3/mkinstalldirs -text
/Makefile -text
/README -text
/README.p1 -text
beaengine/CMakeFiles/CMakeCCompiler.cmake -text
beaengine/CMakeFiles/CMakeCXXCompiler.cmake -text
beaengine/CMakeFiles/CMakeDetermineCompilerABI_C.bin -text
beaengine/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin -text
beaengine/CMakeFiles/cmake.check_cache -text
beaengine/CMakeFiles/progress.marks -text
beaengine/CMakeLists.txt -text
beaengine/News.txt -text
beaengine/beaengineSources/BeaEngine.c -text
beaengine/beaengineSources/BeaEngine.obj -text
beaengine/beaengineSources/CMakeLists.txt -text
beaengine/beaengineSources/COPYING.LESSER.txt -text
beaengine/beaengineSources/COPYING.txt -text
beaengine/beaengineSources/Includes/BeaEngineVersion.c -text
beaengine/beaengineSources/Includes/Routines_Disasm.c -text
beaengine/beaengineSources/Includes/Routines_ModRM.c -text
beaengine/beaengineSources/Includes/instr_set/Data_opcode.h -text
beaengine/beaengineSources/Includes/instr_set/opcodes_AES.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_A_M.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_CLMUL.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_FPU.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp1.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp12.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp13.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp14.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp15.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp16.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp2.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp3.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp4.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp5.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp6.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp7.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp8.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_Grp9.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_MMX.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_N_Z.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_SSE.c -text
beaengine/beaengineSources/Includes/instr_set/opcodes_prefixes.c -text
beaengine/beaengineSources/Includes/internal_datas.h -text
beaengine/beaengineSources/Includes/protos.h -text
beaengine/beaengineSources/README.txt -text
beaengine/include/beaengine/BeaEngine.h -text
beaengine/include/beaengine/basic_types.h -text
beaengine/include/beaengine/export.h -text
beaengine/include/beaengine/macros.h -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/BeaEngine_s_d.dir/cmake_clean.cmake -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/BeaEngine_s_d.dir/cmake_clean_target.cmake -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/BeaEngine_s_d.dir/depend.make -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/BeaEngine_s_d.dir/link.txt -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/BeaEngine_s_d.dir/progress.make -text
beaengine/obj/Linux.gnu.Debug/beaengineSources/CMakeFiles/progress.marks -text
/build.sh -text
/distclean.sh -text
examples/Makefile -text
examples/dumbledore.c -text
examples/dumbledore_cmd.c -text
examples/integerbug.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/Makefile.options -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/dbl_equals.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/dbl_sqrt.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/dbl_square.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/fp_equals.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/fp_sqrt.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/FP/fp_square.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_128/bad.dat -text
examples/integerbugs/C1_Number_Handling/CWE_128/dumbledore_store_wrap_around_error.c -text
examples/integerbugs/C1_Number_Handling/CWE_128/good.dat -text
examples/integerbugs/C1_Number_Handling/CWE_128/wrap_around_error.c -text
examples/integerbugs/C1_Number_Handling/CWE_190/CVE-2010-1516_CWE_190_SWFTools/CVE-2010-1516_CWE_190_SWFTools.docx -text
examples/integerbugs/C1_Number_Handling/CWE_190/CVE-2010-1516_CWE_190_SWFTools/swftools-0.9.1.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_190/CWE_190_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_190/CWE_190_Example_2_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_190/Example2_bad.txt -text
examples/integerbugs/C1_Number_Handling/CWE_190/Example2_good.txt -text
examples/integerbugs/C1_Number_Handling/CWE_190/Example_UVA_good.txt -text
examples/integerbugs/C1_Number_Handling/CWE_190/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_190/UVA_C1_and_C4.c -text
examples/integerbugs/C1_Number_Handling/CWE_190/bad.dat -text
examples/integerbugs/C1_Number_Handling/CWE_190/data.txt -text
examples/integerbugs/C1_Number_Handling/CWE_190/modular_bug_finding_example_1.c -text
examples/integerbugs/C1_Number_Handling/CWE_190/modular_bug_finding_example_2.c -text
examples/integerbugs/C1_Number_Handling/CWE_191/CWE_191_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_191/CWE_191_Example_2_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_194/CVE-2007-4988_CWE_194_ImageMagick/CVE-2007-4988_CWE_194_ImageMagick.docx -text
examples/integerbugs/C1_Number_Handling/CWE_194/CVE-2007-4988_CWE_194_ImageMagick/ImageMagick-6.3.4-10.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_194/CWE_194_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_194/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/33568-desi.py -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/33568.py -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC.docx -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/UltraVNC-102-Src.zip -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/UltraVNC_105_src.zip -text
examples/integerbugs/C1_Number_Handling/CWE_195/CVE-2009-0388_CWE_195_TightVNC_and_UltraVNC/tightvnc-1.3.9_unixsrc.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_195/CWE_195_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_195/CWE_195_Example_2_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_195/CWE_195_Example_3_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_195/CWE_195_Example_4_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_195/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_195/example4_bad.dat -text svneol=unset#application/octet-stream
examples/integerbugs/C1_Number_Handling/CWE_195/example4_good.dat -text
examples/integerbugs/C1_Number_Handling/CWE_195/gen.cc -text
examples/integerbugs/C1_Number_Handling/CWE_196/CWE_196_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_196/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_197/CWE_197_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_197/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_198/CVE-2005-2448_CWE_198_EKG/CVE-2005-2448_CWE_198_EKG.docx -text
examples/integerbugs/C1_Number_Handling/CWE_198/CVE-2005-2448_CWE_198_EKG/Should_have_the_fixes_ekg-1.6rc3.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_198/CVE-2005-2448_CWE_198_EKG/ekg-1.5rc2.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_198/CVE-2005-2448_CWE_198_EKG/ekg-1.6rc1.tar.gz -text
examples/integerbugs/C1_Number_Handling/CWE_198/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_198/use_of_incorrect_byte_order.c -text
examples/integerbugs/C1_Number_Handling/CWE_369/CWE_369_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_369/CWE_369_Example_1_good.c -text
examples/integerbugs/C1_Number_Handling/CWE_369/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_682/CWE_682_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_682/CWE_682_Example_3_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_682/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_839/CWE_839_Example_1_bad.c -text
examples/integerbugs/C1_Number_Handling/CWE_839/CWE_839_Example_1_bad.conf -text
examples/integerbugs/C1_Number_Handling/CWE_839/CWE_839_Example_1_bad.ncexe -text
examples/integerbugs/C1_Number_Handling/CWE_839/CWE_839_Example_1_bad.ncexe.conf -text
examples/integerbugs/C1_Number_Handling/CWE_839/CWE_839_Example_1_bad.ps_analyze.log -text
examples/integerbugs/C1_Number_Handling/CWE_839/Makefile -text
examples/integerbugs/C1_Number_Handling/CWE_839/peasoup_executable_directory.CWE_839_Example_1_bad.ncexe.6585/a.ncexe -text
examples/integerbugs/C1_Number_Handling/CWE_839/peasoup_executable_directory.CWE_839_Example_1_bad.ncexe.6585/a.stratafied -text
examples/integerbugs/C1_Number_Handling/CWE_839/peasoup_executable_directory.CWE_839_Example_1_bad.ncexe.6585/logs/stratafy_with_pc_confine.log -text
examples/integerbugs/C1_Number_Handling/CWE_839/peasoup_executable_directory.CWE_839_Example_1_bad.ncexe.6585/stratafier.o.exe -text
examples/ls_manual_tests.sh -text
examples/mul/generate_cprogs.sh -text
examples/mul/mul.ctmpl -text
examples/mul/mul.shtmpl -text
examples/mul/run_tests.sh -text
examples/overflow1.c -text
examples/test1.c -text
examples/test2.c -text
examples/width.c -text
libIRDB/Makefile -text
libIRDB/include/cfg/BasicBlock.hpp -text
libIRDB/include/cfg/CFG.hpp -text
libIRDB/include/core/address.hpp -text
libIRDB/include/core/baseobj.hpp -text
libIRDB/include/core/basetypes.hpp -text
libIRDB/include/core/dbinterface.hpp -text
libIRDB/include/core/doip.hpp -text
libIRDB/include/core/file.hpp -text
libIRDB/include/core/function.hpp -text
libIRDB/include/core/instruction.hpp -text
libIRDB/include/core/pqxxdb.hpp -text
libIRDB/include/core/variantid.hpp -text
libIRDB/include/core/variantir.hpp -text
libIRDB/include/libIRDB-cfg.hpp -text
libIRDB/include/libIRDB-core.hpp -text
libIRDB/include/utils.hpp -text
libIRDB/src/Makefile -text
libIRDB/src/cfg/BasicBlock.cpp -text
libIRDB/src/cfg/CFG.cpp -text
libIRDB/src/cfg/Makefile -text
libIRDB/src/core/Makefile -text
libIRDB/src/core/address.cpp -text
libIRDB/src/core/all.hpp -text
libIRDB/src/core/baseobj.cpp -text
libIRDB/src/core/dbinterface.cpp -text
libIRDB/src/core/file.cpp -text
libIRDB/src/core/function.cpp -text
libIRDB/src/core/generate_spri.cpp -text
libIRDB/src/core/instruction.cpp -text
libIRDB/src/core/pqxxdb.cpp -text
libIRDB/src/core/variantid.cpp -text
libIRDB/src/core/variantir.cpp -text
libIRDB/test/Makefile -text
libIRDB/test/calc_conflicts.cpp -text
libIRDB/test/clone.cpp -text
libIRDB/test/create_variant.cpp -text
libIRDB/test/create_variantir.cpp -text
libIRDB/test/drop_variant.cpp -text
libIRDB/test/fill_in_cfg.cpp -text
libIRDB/test/fill_in_indtargs.cpp -text
libIRDB/test/fix_calls.cpp -text
libIRDB/test/generate_spri.cpp -text
libIRDB/test/ilr.cpp -text
libIRDB/test/list_programs.cpp -text
libIRDB/test/print_variant.cpp -text
libIRDB/test/read_ehframe.cpp -text
libIRDB/test/read_variantir.cpp -text
libIRDB/test/unfix_calls.cpp -text
libIRDB/test/unwind-pe.h -text
libMEDSannotation/Makefile -text
libMEDSannotation/include/MEDS_AnnotationParser.hpp -text
libMEDSannotation/include/MEDS_InstructionCheckAnnotation.hpp -text
libMEDSannotation/include/VirtualOffset.hpp -text
libMEDSannotation/src/MEDS_AnnotationParser.cpp -text
libMEDSannotation/src/MEDS_InstructionCheckAnnotation.cpp -text
libMEDSannotation/src/Makefile -text
libMEDSannotation/src/VirtualOffset.cpp -text
libintegertransform/Makefile -text
libintegertransform/include/integertransform.hpp -text
libintegertransform/src/Makefile -text
libintegertransform/src/integertransform.cpp -text
libintegertransform/tests/Makefile -text
libintegertransform/tests/clark1.c -text
libintegertransform/tests/int32overflow.c -text
libintegertransform/tests/sample_meds_int.annot -text
libtransform/Makefile -text
libtransform/include/integertransform.hpp -text
libtransform/src/Makefile -text
libtransform/src/integertransform.cpp -text
libtransform/tests/Makefile -text
libtransform/tests/clark1.c -text
libtransform/tests/int16overflow.c -text
libtransform/tests/int32overflow.c -text
libtransform/tests/mul.c -text
libtransform/tests/sample_meds_int.annot -text
tests/coreutils/Makefile -text
tests/coreutils/bzip2_manual_tests.sh -text
tests/coreutils/cat_manual_tests.sh -text
tests/coreutils/ls_manual_tests.sh -text
tools/Makefile -text
tools/cover/Makefile -text
tools/cover/cover.cpp -text
tools/meds2pdb/Makefile -text
tools/meds2pdb/meds2pdb.cpp -text
tools/spasm/Makefile -text
tools/spasm/ben_lib.cpp -text
tools/spasm/ben_lib.h -text
tools/spasm/do_nasm.sh -text
tools/spasm/spasm.cpp -text
tools/spasm/spasm.h -text
tools/spasm/spasm_main.cpp -text
tools/spasm/test.aspri -text
tools/spasm/tst.s -text
tools/transforms/Makefile -text
tools/transforms/integerbugtransform.cpp -text
tools/transforms/integertransformdriver.cpp -text
tools/transforms/nulltransform.cpp -text
tools/transforms/p1transform.cpp -text
tools/transforms/p1transform.h -text
tools/transforms/sample_meds_int.annot -text
tools/transforms/transformutils.cpp -text
tools/transforms/transformutils.h -text
xform/Makefile -text
xform/all.h -text
xform/aspri.h -text
xform/bitvector.c -text
xform/bitvector.h -text
xform/config.h -text
xform/constant_hash.c -text
xform/constant_hash.h -text
xform/elfreader.cpp -text
xform/elfreader.h -text
xform/framerestore_hash.c -text
xform/framerestore_hash.h -text
xform/framesize_hash.c -text
xform/framesize_hash.h -text
xform/funclist_hash.c -text
xform/funclist_hash.h -text
xform/function_descriptor.cpp -text
xform/function_descriptor.h -text
xform/gen_hash.c -text
xform/gen_hash.h -text
xform/instrmap_hash.c -text
xform/instrmap_hash.h -text
xform/instruction_descriptor.cpp -text
xform/instruction_descriptor.h -text
xform/instrument.h -text
xform/null_transform.cpp -text
xform/null_transform.h -text
xform/read_annot_file.c -text
xform/rewriter.cpp -text
xform/rewriter.h -text
xform/spri_alloc.c -text
xform/spri_alloc.h -text
xform/stackref_hash.c -text
xform/stackref_hash.h -text
xform/strata_defines.h -text
