    "monitor" : {
        "dump_variant_core" : true,
        "detach_variants": true,
        "checkpoint": {
                "interval": 0,
                "refresh_period": 0,
                "refresh_command": "/target_apps/marshaling/refresh.py "
        },
	"divergence": {
		"actions": [ "RECOVER" ],
		"initial_dump_dir": "/target_apps/marshaling/initial_dump_dir"
	}

    },

