    "monitor" : {
        "dump_variant_core" : true,
        "detach_variants": true,
        "checkpoint": {
                "interval": 30,
                "refresh_period": 0,
                "refresh_command": "/vagrant/emt/raven/criu/plugins/refresh.sh "
        }

    },

